<div class="container">
  <div class="upper-data">
    <img src="../assets/snowy.jpeg" *ngIf="currTemp<1">
    <img src="../assets/chilly.png" *ngIf="currTemp<=15 && currTemp>=1">
    <img src="../assets/sunny.png"  *ngIf="currTemp>15">
    <div class="search-bar">
      <form [formGroup]="searchForm" (ngSubmit)="searchEvent()">   
        <label for="default-search" class="mt-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
        <div class="relative">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
            </div>
            <input type="text" formControlName="searchTxt" id="default-search" class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Location..." required>
            <button type="submit" class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
        </div>
    </form>
    </div>
    <div class="weather-data">
      <div class="location">{{currLocation}}</div>
      <div class="temperature">{{currTemp}}°C</div> 
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/clock.png" alt="">
          <span>Local Time</span>
        </div>
        <div class="info-block-value">{{currTime}}</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/low-temp.png" alt="" *ngIf="currTemp<25">
          <img src="../assets/high-temp.png" alt="" *ngIf="currTemp>=25">
          <span>Feels Like</span>
        </div>
        <div class="info-block-value">{{feelsLike}}°C</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.png" alt="">
          <span>Humidity</span>
        </div>
        <div class="info-block-value">{{currHumidity}}%</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/windy.png" alt="">
          <span>wind</span>
        </div>
        <div class="info-block-value">{{windSpd}} km/ph</div>
      </div>
    </div>
  </div>
</div>
